.full {
  width: 100vw;
  height: 90vh;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth,
.email {
  max-width: 480px;
}

.auth {
  height: 95vh;
}

.open.sns {
  transform: translateY(40%);
}

@media screen and (min-width: 840px) {
  .auth {
    left: auto;
  }
}
