.social {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 2vh;
  margin: 2vh 0;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  width: 100%;
}

.buttons button {
  padding: 2vh 0;
  width: auto;
  font-size: 0.95rem;
}
