.sns {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 4rem;
  margin-top: 8vh;
}

.sns img {
  width: 6vh;
  margin-bottom: 0.5vh;
}

.sns h2 {
  margin-bottom: 3vh;
  font-weight: 800;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 2vh 0;
}

.social .label {
  width: 100%;
  text-align: left;
  font-weight: 600;
}

.social img {
  width: 5.5rem;
}

.buttons {
  display: flex;
  align-items: center;
  width: 100%;
}

.buttons button {
  padding: 2vh 0;
}
