.transaction-form {
  padding: var(--size-5);
  /* height: calc(5.8rem + 9vh);
  clip-path: inset(-100% -100% calc(9vh + 0.05rem) -100%); */
  clip-path: inset(-100% -100% calc(100% - 5.75rem) -100%);
  transform: translateY(calc(100% - (5.8rem + 9vh)));
  height: 85vh;
  transition: transform 0.3s var(--slow-in), clip-path 0.3s var(--slow-in),
    box-shadow 0.3s var(--slow-in);
}

.transaction-form.expand {
  clip-path: inset(-100% -100% 0 -100%);
  transform: translateY(0);
}

.transaction-form input,
.transaction-form .select,
.transaction-form textarea {
  margin-bottom: var(--size-9);
}

.transaction-form.expand .buttons,
.transaction-form.expand .types {
  visibility: visible;
  opacity: 1;
}

.basic {
  height: calc(5.8rem + 4vh);
  clip-path: none;
  /* transform: translateY(5.8rem + 4vh); */
}

.info {
  position: absolute;
  top: 5.8rem;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 5;
}

.field {
  width: 100%;
}

.date-field {
  min-width: calc(100% - var(--size-5));
}

.amount {
  display: flex;
  width: 100%;
  gap: var(--size-8);
}

.amount input {
  margin-bottom: var(--size-5);
}

.amount button {
  height: 3.5rem;
  width: 30%;
  transition: 0.3s var(--fast-in);
}

.transaction-form.expand .amount {
  gap: 0;
}

.transaction-form.expand .amount input {
  margin-bottom: var(--size-9);
}

.transaction-form.expand .amount button {
  width: 0;
}

.options,
.option {
  display: flex;
  align-items: center;
}

.options {
  justify-content: space-between;
  margin: 0 2vw;
  flex-wrap: wrap;
}

.option {
  font-size: var(--size-7);
  justify-content: start;
}

.option input {
  width: 1rem;
  transform: scale(0.5, 0.5);
  height: auto;
  margin-bottom: 0;
}

.note,
.selects {
  display: flex;
  gap: var(--size-10);
}

.emoji {
  width: 3.8835rem;
}

.emoji input {
  display: flex;
  box-sizing: border-box;
  font-size: var(--size-3);
  width: 3.5rem;
  height: 3.5rem;
  text-align: center;
  border-radius: 50%;
}

.emoji input::placeholder {
  opacity: 0.5;
}

.memo {
  height: auto;
}

.buttons {
  visibility: hidden;
}

.types {
  visibility: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 16vh;
  display: flex;
  justify-content: center;
  gap: var(--size-6);
  opacity: 0;
  transition: 0.1s var(--fast-in);
}
