/* layout */
.transaction-item {
  display: flex;
  align-items: center;
  gap: var(--size-10);
  margin-bottom: var(--size-6);
  cursor: pointer;
}

.scheduled {
  /* opacity: 0.5; */
  padding: 2vw;
  background-color: var(--gray-1);
  border-radius: 1rem;
}

.data {
  flex: 1 1 auto;
  width: 100%;
}

.data .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--size-10);
  width: 100%;
  padding-top: var(--size-10);
}

.data .left {
  flex-shrink: 1;
}

.data .right {
  display: flex;
  flex-shrink: 0;
}

.data .right > div {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.right .content {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.label {
  font-size: 0.875rem;
}

.tags {
  margin-top: var(--size-10);
}

/* data */
.category {
  font-size: var(--size-7);
  font-weight: 700;
}

.title {
  font-size: var(--size-6);
}

.amount {
  flex-shrink: 0;
  font-size: var(--size-5);
  font-weight: 600;
  text-align: right;
}

.tags {
  font-size: var(--size-7);
}

/* Option */
.option button {
  padding-left: 1rem;
}

/* overAmount */
.over {
  font-size: var(--size-8);
}
