.container {
    padding: var(--size-5);
    height: calc(5.8rem + 9vh);
    clip-path: inset(-100% -100% calc(9vh + 0.05rem) -100%);
}

.container input,
.container .select,
.container textarea {
    margin-bottom: var(--size-9);
}

.container.expand {
    height: 85vh;
    clip-path: inset(-100% -100% 0 -100%);
}

.container.expand .buttons,
.container.expand .types {
    visibility: visible;
    opacity: 1;
}

.field {
    width: 100%;
}

.amount {
    display: flex;
    width: 100%;
    gap: var(--size-8);
}

.amount input {
    margin-bottom: var(--size-5);
}

.amount button {
    height: 3.5rem;
    width: 30%;
    transition: 0.3s var(--fast-in);
}

.container.expand .amount {
    gap: 0;
}

.container.expand .amount input {
    margin-bottom: var(--size-9);
}

.container.expand .amount button {
    width: 0;
}

.buttons {
    position: absolute;
    left: var(--size-5);
    right: var(--size-5);
    bottom: 6vh;
    display: flex;
    visibility: hidden;
}

.buttons .cancel {
    width: 50%;
}

.note,
.selects {
    display: flex;
    gap: var(--size-10);
}

.emoji {
    width: 3.8835rem;
}

.emoji input {
    display: flex;
    box-sizing: border-box;
    font-size: var(--size-3);
    width: 3.5rem;
    height: 3.5rem;
    text-align: center;
    border-radius: 50%;
}

.emoji input::placeholder {
    opacity: 0.5;
}

.types {
    visibility: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 16vh;
    display: flex;
    justify-content: center;
    gap: var(--size-6);
    opacity: 0;
    transition: 0.1s var(--fast-in);
}
