.container {
    width: 90vw;
    margin: 0 auto;
    padding-bottom: 8rem; /* NOTE: Nav & TransactionForm height */
}

.container > li {
    margin-bottom: 3rem;
}

.date {
    margin-bottom: var(--size-6);
    scroll-margin: 10vh;
}
