/* layout */
.container {
    display: flex;
    gap: var(--size-10);
    margin-bottom: var(--size-6);
}

.done {
    text-decoration: line-through;
}

.done .icon,
.done .data {
    opacity: 0.5;
}

.data {
    flex: 1 0 auto;
}

.data .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--size-10);
    padding-top: var(--size-10);
}

.tags {
    margin-top: var(--size-10);
}

/* data */
.category {
    font-size: var(--size-7);
    font-weight: 700;
}

.title {
    font-size: var(--size-6);
}

.amount {
    flex-shrink: 0;
    font-size: var(--size-5);
    font-weight: 600;
    text-align: right;
}

.tags {
    font-size: var(--size-7);
}

/* Option */
.option button {
    padding-left: 1rem;
    padding-bottom: 0.5rem;
}
