/* layout */
.container {
    display: flex;
    gap: var(--size-10);
    margin-bottom: var(--size-6);
}

.data {
    width: calc(100% - (3rem + var(--size-10)));
    flex: 1 0 auto;
}

.data .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--size-10);
    padding-top: var(--size-10);
}

.tags {
    margin-top: var(--size-10);
}

/* data */
.icon {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    font-size: var(--size-2);
    border-radius: 50%;
    background-color: var(--gray-1);
}

.category {
    font-size: var(--size-7);
    font-weight: 600;
}

.title {
    font-size: var(--size-6);
}

.amount {
    flex-shrink: 0;
    font-size: var(--size-5);
    font-weight: 600;
    text-align: right;
}

.tags {
    font-size: var(--size-7);
}
