:root {
  /* layout */
  --nav-h: 5.875rem;

  /* font-size */
  --text-xxl: 2rem; /* 32px */
  --text-3xl: 1.75rem; /* 28px */
  --text-2xl: 1.5rem; /* 24px */
  --text-xl: 1.25rem; /* 20px */
  --text-lg: 1.125rem; /* 20px */
  --text-base: 1rem; /* 16px */
  --text-ml: 0.9375rem; /* 15px */
  --text-md: 0.875rem; /* 14px */
  --text-ms: 0.8125rem; /* 13px */
  --text-sm: 0.75rem; /* 12px */
  --text-xs: 0.625rem; /* 10px */
  --text-2xs: 0.5rem; /* 8px */
  --text-3xs: 0.375rem; /* 6px */
  --text-xxs: 0.25rem; /* 4px */
}

/* heading */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
}

h1 {
  font-size: var(--text-3xl);
}

h2 {
  font-size: var(--text-2xl);
}

h3 {
  font-size: var(--text-xl);
}

h4 {
  font-size: var(--text-lg);
}

h5 {
  font-size: var(--text-root);
}

h6 {
  font-size: var(--text-md);
}

/* classes - font */
.text-xxl {
  font-size: var(--text-xxl);
}

.text-3xl {
  font-size: var(--text-3xl);
}

.text-2xl {
  font-size: var(--text-2xl);
}

.text-xl {
  font-size: var(--text-xl);
}

.text-lg {
  font-size: var(--text-lg);
}

.text-base {
  font-size: var(--text-base);
}

.text-ml {
  font-size: var(--text-ml);
}

.text-md {
  font-size: var(--text-md);
}

.text-ms {
  font-size: var(--text-ms);
}

.text-sm {
  font-size: var(--text-sm);
}

.text-xs {
  font-size: var(--text-xs);
}

.text-2xs {
  font-size: var(--text-2xs);
}

.text-3xs {
  font-size: var(--text-3xs);
}

.text-xxs {
  font-size: var(--text-xxs);
}

/* font-weight */
.thin {
  font-weight: 100;
}

.extra-light {
  font-weight: 200;
}

.light {
  font-weight: 300;
}

.regular {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.semi-bold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.extra-bold {
  font-weight: 800;
}

.heavy {
  font-weight: 900;
}

/* text-align */
.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

/* letter-spacing */
.tracking-tightest {
  letter-spacing: -0.01em;
}

.tracking-tighter {
  letter-spacing: -0.05em;
}

.tracking-tight {
  letter-spacing: -0.025em;
}

.tracking-normal {
  letter-spacing: 0em;
}

.tracking-wide {
  letter-spacing: 0.025em;
}

.tracking-wider {
  letter-spacing: 0.05em;
}

.tracking-widest {
  letter-spacing: 0.1em;
}
