.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bars {
    height: 40%;
    flex-shrink: 1;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    padding: 0.5rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    background-color: var(--background);
    border-radius: 1rem;
}

.title button {
    padding: 1rem;
}

.title .icon {
    margin-right: 0.5rem;
}

.inform {
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    margin-top: 0.5rem;
    color: var(--secondary-text);
}

.inform i {
    margin-right: 0.2rem;
}

.error {
    color: var(--error-text);
}

.setting {
    display: flex;
    justify-content: flex-end;
}

.setting button {
    font-size: 1.1rem;
    width: 2.5rem;
    height: 2.5rem;
}
