.page {
    padding: 0;
    margin: 0 3rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.page img {
    width: 14rem;
    height: 14rem;
}

.page h1 {
    font-size: 2.2rem;
    font-weight: 800;
    letter-spacing: -0.12rem;
}

.page h3 {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
}

.page .errors {
    margin-top: 1.2rem;
    font-size: 0.9rem;
    color: var(--error-text);
}

.page > div {
    width: 100%;
}

.page .form {
    width: 100%;
    margin-top: 2rem;
}

.page .form input {
    width: calc(100% - 2rem);
    padding-top: 2rem;
}

.page .field {
    position: relative;
    margin-bottom: 0.5rem;
}

.page .field input + label {
    position: absolute;
    top: 1.5rem;
    left: 1rem;
    display: block;
    color: var(--secondary-text);
    transition: top 0.3s ease-in-out;
}

.page .field input:focus + label,
.page .field input:valid + label {
    top: 0.5rem;
    font-size: 0.8rem;
}

button.submit {
    width: 100%;
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
}

button.link {
    font-size: 1.1rem;
    font-weight: 600;
}

.links {
    margin-top: 1.2rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 960px) {
    .page {
        margin: 0 12rem;
        flex-direction: row;
        align-items: center;
        height: 95vh;
        gap: 4rem;
    }

    .page .form {
        max-width: 25rem;
    }

    .logo {
        flex-direction: column;
    }
    .logo img {
        width: 18rem;
        height: 18rem;
    }
    .logo h1 {
        font-size: 2.5rem;
    }
    .form {
        width: 20rem;
    }
}
