.container {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.container span {
    display: flex;
    align-items: center;
}

.label::before {
    content: '';
    display: inline-block;
    width: var(--size-6);
    height: var(--size-6);
    margin-right: var(--size-10);
    border-radius: 0.2rem;
    background-color: var(--label-color);
}

.amount {
    font-size: var(--font-size);
    color: var(--font-color);
    font-weight: 600;
}

/* edit */
input.edit {
    width: 30vw;
    height: 2.5rem;
    text-align: right;
}

button.edit {
    position: absolute;
    right: -1.25rem;
    top: 0;
    bottom: 0;
    color: var(--gray-3);
    font-size: 0.8rem;
}

button.edit.pencil::before {
    content: '\f303';
    font: var(--fa-font-solid);
}

button.edit.check::before {
    content: '✓';
    font: var(--fa-font-solid);
}
