.container {
  position: relative;
}

.container > * {
  position: absolute;
}

.budget,
.scheduled,
.current {
  transition: stroke-dasharray 0.5s var(--fast-in), opacity 0.5s var(--fast-in);
  will-change: stroke-dasharray, opacity;
}

.budget {
  stroke: var(--gray-1);
}

.scheduled {
  stroke: var(--secondary);
}

.current {
  stroke: var(--primary);
}
