.bars {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.bars > li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bars ul {
  height: 100%;
}

.grouped {
  position: relative;
  display: flex;
}

.bar {
  border-radius: 0.3rem;
  position: absolute;
  bottom: 0;
  width: 1rem;
  transform: translateX(-50%);
  transition: 0.5s var(--fast-in);
}

.current {
  background-color: var(--primary);
}

.scheduled {
  background-color: var(--secondary);
}

.scheduled.over {
  background-color: var(--error-bg);
}

.current.over {
  background-color: var(--error-text);
}

.planned {
  background-color: var(--gray-1);
}

.label {
  font-size: 1.25rem;
}
