.container {
    position: relative;
}

.container > * {
    position: absolute;
}

.budget {
    stroke: var(--gray-1);
    transition: 0.5s ease-in-out;
}

.scheduled {
    stroke: var(--secondary);
    transition: 0.5s ease-in-out;
}

.current {
    stroke: var(--primary);
    transition: 0.5s ease-in-out;
}
