.item {
    position: relative;
    margin-bottom: 0.4rem;
    border-radius: 0.5rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
}

.completed {
    text-decoration: line-through;
}

.data {
    flex: 1 0 auto;
}

.info {
    display: flex;
    align-items: center;
}

.icon {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    font-size: 1.8rem;
    border-radius: 50%;
    background-color: var(--background);
}

.detail {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 0.6rem;
}

.tags {
    margin-left: 3.4rem;
    font-size: 0.9rem;
}

.category {
    font-size: 0.9rem;
    font-weight: 300;
}

.title {
    flex-shrink: 3;
}

.amount {
    flex-shrink: 0;
    flex-basis: auto;
    font-size: 1.2rem;
    font-weight: 600;
}
