.short {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 40%;
    padding: 1rem;
}

.short input {
    width: 60%;
    margin-right: 0.6rem;
}

.short button {
    font-size: 1rem;
}

.expand {
    padding: 2rem;
}

.expand .selects {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.expand .selects > div:first-child {
    flex: 1 0 auto;
    margin-right: 0.5rem;
}

.expand .selects > div:last-child {
    flex: 2 1 auto;
}

.expand .types {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
}

.expand .types > span {
    margin: 0 1rem;
    margin-bottom: 1rem;
}

.expand .buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.expand .buttons button {
    height: 4rem;
}

.expand .buttons .submit {
    width: 100%;
    margin-left: 0.2rem;
    font-size: 1rem;
}

.expand .buttons .cancel {
    width: 60%;
    font-size: 1rem;
}

.expand .inputs {
    overflow-y: scroll;
    height: 60vh;
}

.outside {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
