.list {
    text-align: left;
    margin-bottom: 10rem;
    padding: 0;
}

.list > * {
    margin-bottom: 2.8rem;
}

.date {
    font-weight: 600;
    margin-bottom: 1rem;
}

@media screen and (min-width: 960px) {
    .list {
        height: 80%;
        overflow-y: scroll;
        margin-bottom: 0;
    }
}