.container {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container form {
  width: calc(100% - 4rem);
  height: calc(100% - 4rem);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2vh;
}

.pencil,
.confirm {
  width: auto;
  height: auto;
}

.pencil::before {
  content: '\f303';
  font: var(--fa-font-solid);
  font-size: var(--size-8);
}

.confirm::before {
  content: '\f00c';
  font: var(--fa-font-solid);
}

.list {
  height: 65vh;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: 0;
}

.edit .list {
  height: 50vh;
}

.list::-webkit-scrollbar {
  display: none;
}

