.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container.dragging {
    background-color: #fff;
    padding-left: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 0px 4px 60px rgb(99 99 99 / 20%);
}

.check {
    width: auto;
    height: 0.75rem;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info {
    display: flex;
    width: 70%;
    align-items: center;
    gap: 1rem;
}

.info .icon {
    width: 3rem;
    height: 3rem;
    font-size: 1.75rem;
}

.info span.title {
    font-size: 1.125rem;
    overflow-x: scroll;
}

.info input.title {
    width: 60%;
    height: 3rem;
}

.buttons {
    flex-shrink: 0;
    display: flex;
    width: 30%;
    justify-content: space-between;
}

.buttons > * {
    font-size: 0.75rem;
}

.buttons .pencil::before {
    content: '\f303';
    font: var(--fa-font-solid);
}

.buttons .confirm::before {
    content: '\f00c';
    font: var(--fa-font-solid);
}

.buttons .trash::before {
    content: '\f2ed';
    font: var(--fa-font-solid);
}

.buttons .handle::before {
    content: '\f0c9';
    font: var(--fa-font-solid);
}

/* NOTE: Button 컴포넌트 스타일과 동일 */
.buttons .handle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-weight: 600;
    border-radius: 0.5rem;
}

.default::before {
    content: '기본';
    font-size: 0.875rem;
    padding: 0.1rem;
    width: 2rem;
    color: #fff;
    background-color: var(--primary);
    border-radius: 0.25rem;
}
