.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1vh;
}

.container .info {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.container input {
    width: 40vw;
    height: 5vh;
    text-align: right;
}
