.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.check {
    width: auto;
    height: var(--size-8);
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info {
    display: flex;
    width: 70%;
    align-items: center;
    gap: 1rem;
}

.info .icon {
    width: 3rem;
    height: 3rem;
    font-size: 1.75rem;
}

.info span.title {
    font-size: var(--size-5);
    overflow-x: scroll;
}

.info input.title {
    width: 60%;
    height: 3rem;
}

.buttons {
    flex-shrink: 0;
    display: flex;
    width: 30%;
    justify-content: space-between;
}

.buttons > * {
    font-size: var(--size-8);
}

.buttons .pencil::before {
    content: '\f303';
    font: var(--fa-font-solid);
}

.buttons .confirm::before {
    content: '\f00c';
    font: var(--fa-font-solid);
}

.buttons .trash::before {
    content: '\f2ed';
    font: var(--fa-font-solid);
}

.buttons .bars::before {
    content: '\f0c9';
    font: var(--fa-font-solid);
}

.default::before {
    content: '기본';
    font-size: 0.875rem;
    padding: 0.1rem;
    width: 2rem;
    color: #fff;
    background-color: var(--primary);
    border-radius: 0.25rem;
}
