.container {
  position: relative;
  height: 95vh;
}

.container h5 {
  margin-bottom: 2vh;
}

.total {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 8vh;
  margin-bottom: 1vh;
  border-radius: 1rem;
  background-color: var(--gray-1);
}

.total label {
  margin-left: 1.5rem;
  flex-shrink: 0;
  font-weight: 800;
}

.total input,
.total span {
  width: 100%;
  display: block;
  text-align: center;
  font-size: var(--size-2);
}

.total span {
  font-weight: 800;
}

.totalEdit::before {
  position: absolute;
  right: 6vw;
  transform: translateY(-50%);
}

.totalCancel::before {
  position: absolute;
  left: 36%;
  transform: translateY(-50%);
  color: var(--gray-3);
}

.alert {
  margin-bottom: 1vh;
}

.bars {
  height: 6vh;
  margin-bottom: 1vh;
}

.list {
  height: 40vh;
  margin-bottom: 1vh;
  overflow: scroll;
  scrollbar-width: none;
}

.list::-webkit-scrollbar {
  display: none;
}

.list h5 {
  margin-bottom: 1vh;
}

.list > div {
  height: 35vh;
  overflow: scroll;
}

.list > div::-webkit-scrollbar {
  display: none;
}

.left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1rem 2rem;
  text-align: right;
  border-radius: 1rem;
  background-color: var(--gray-1);
}

.left .info {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.left p {
  font-size: var(--size-3);
  font-weight: 800;
}

.container > form > button {
  margin-bottom: 5vh;
}

.red {
  color: var(--error-text);
  background-color: var(--error-background);
}

.red > * {
  color: inherit;
}
