.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  background-color: var(--gray-1);
  padding: 1rem;
  border-radius: 1rem;
}

.container .icon {
  width: 3rem;
  height: 3rem;
  font-size: 1.75rem;
}

.container .inputs {
  display: flex;
  gap: 1rem;
  width: 80%;
}

.container .title {
  background-color: #fff;
}

.container .label {
  display: inline-block;
  width: 1.875rem;
  text-align: center;
  padding: 0.2rem 0.5rem;
  background-color: var(--primary);
  color: #fff;
  border-radius: 0.2rem;
}
