.full {
  width: 100vw;
  height: 90vh;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth,
.email {
  max-width: 480px;
}

.auth {
  height: 95vh;
}

.email {
  transform: translateY(0);
}

.sns {
  transform: translateY(30%) !important;
}
