.init {
  box-sizing: border-box;
  position: relative;
  padding-top: 10vh;
  height: 100vh;
  overflow: hidden;
}

.init header {
  text-align: center;
}

.init header h1 {
  margin-bottom: 5vh;
}

.nav {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 90vw;
  background-color: #fff;
  padding-bottom: 5vh;
}

.basic {
  padding-top: 0;
}

.basic .content {
  padding-top: 10vh;
  height: 70vh;
  overflow: scroll;
}

.asset {
  height: 35vh;
  overflow: scroll;
}

.card {
  height: 48vh;
  overflow: scroll;
}

.polyfill {
  width: 100%;
  height: 20vh;
}

.status {
  margin: 0 5%;
}

@media screen and (min-width: 840px) {
  .init hr {
    display: none;
  }

  .init .main {
    display: flex;
  }

  .init .main > * {
    width: 50%;
  }

  .status {
    display: flex;
    align-items: center;
    height: 90%;
  }

  .default {
    margin-top: 10vh;
  }

  .list {
    height: 60vh;
  }

  .nav {
    bottom: 10vh;
    z-index: 0;
  }

  .form {
    left: 25%;
    bottom: 0;
  }
}
