.status {
  width: calc(100% - 20vw) !important;
  margin-bottom: 3vh;
  padding: 0 10vw;
  width: calc(100% - 20vw) !important;
}

.create {
  text-align: center;
  margin: 6vh 10vw;
}

.button {
  max-width: 30rem;
  height: 8vh;
  font-size: 1.25rem;
  margin: 1vh auto;
  margin-bottom: 2vh;
}

.link {
  font-size: 1.125rem;
  font-weight: 600;
}

.clickable {
  cursor: pointer;
}
