.edit.pencil::before {
    content: '\f303';
    font: var(--fa-font-solid);
}

.edit.check::before {
    content: '✓';
    font: var(--fa-font-solid);
}

.edit.cancel::before {
    content: '\f00d';
    font: var(--fa-font-solid);
}
