.container {
    margin-bottom: 0.625rem;
    padding: 0 0.625rem;
    padding-top: 0.625rem;
    background-color: var(--gray-0);
    border-radius: 0.5rem;
}

.container.empty {
    padding: 0 0.625rem;
}

/* tags */
.container li {
    display: inline-block;
}

.container li span {
    display: flex;
    align-items: center;
}

.container li span::after {
    content: 'X';
    display: inline-block;
    font-size: 0.05rem;
    margin-left: 0.5rem;
}

/* input */
.container li:last-child {
    display: block;
}

.container li:last-child > input {
    padding: 0 0.625rem;
    margin: 0;
}
