.container {
    margin: 0 3rem;
    margin-top: 5rem;
    text-align: left;
}

.container select {
    width: 50%;
    margin-right: calc(50%);
}

.container > ol {
    padding: 0 0.4rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container > ol > * {
    margin-top: 1.6rem;
}