/* container - add mode */
.add {
  position: relative;
  transform: translateY(calc(100% - 12vh));
}

/* container - open */
.open .button {
  position: absolute;
  top: 0;
  transform: translateY(-100%);
}

/* add button */
.button {
  height: 12vh;
  font-size: var(--size-4);
  transform: translateY(0);
  transition: transform 0.3s var(--slow-in);
  border-radius: 0;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 80vw;
  margin-top: 3vh;
  margin-bottom: 20vh;
  height: 60vh;
}

/* title & emoji area */
.data {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
  margin-top: 2vh;
  margin-bottom: 0.5vh;
}

.title {
  text-align: center;
}

.remove {
  display: flex;
  justify-content: end;
  width: 100%;
}

.remove button {
  width: 10vw;
}

.remove button::before {
  content: '\f2ed';
  font: var(--fa-font-solid);
  font-size: var(--size-7);
}
