.container h2 {
  padding-top: 1.5vh;
  padding-bottom: 2vh;
  text-align: center;
}

.tab {
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 5vh;
}

.list {
  height: 40vh;
  overflow-y: scroll;
  scrollbar-width: none;
}

.list::-webkit-scrollbar {
  display: none;
}

.data {
  display: flex;
  align-items: center;
  gap: 5vw;
}

.info {
  display: flex;
  flex-direction: column;
}

.detail {
  font-size: var(--size-8);
}

.title {
  font-size: var(--size-5);
}

.add {
  margin-top: 2vh;
}
