.list {
  margin: 2vh 5vw;
}

.data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 0.75rem;
}

.head {
  display: flex;
  align-items: center;
  gap: 3vw;
  flex-shrink: 1;
}

.title {
  font-size: 1.25rem;
  word-wrap: break-word;
  width: 130px;
}

.amount {
  font-size: 0.875rem;
  font-weight: 900;
}

.button-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
}

.button {
  height: 10vh;
  font-size: 1.25rem;
  border-radius: 0.75rem;
}
