.payment-editor {
  height: 75vh;
}

.payment-editor h5 {
  margin-bottom: 2vh;
}

.list {
  height: 45vh;
  overflow: scroll;
  scrollbar-width: none;
}

.list::-webkit-scrollbar {
  display: none;
}

.data {
  display: flex;
  align-items: center;
  gap: 3vw;
  width: 100%;
}
