.gap {
  display: flex;
  flex-direction: column;
  gap: 3vh;
}

.payment {
  padding: 4vh 0;
}

.payment,
.payment form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.payment form {
  padding: 0;
}

.payment .icon {
  display: flex;
  justify-content: center;
  margin: 2vh auto;
  margin-bottom: 2vh;
}

.payment .options {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1vh;
}

.payment input {
  display: none;
}

.payment input:checked + label {
  background-color: var(--primary);
  color: #fff;
}

.payment label {
  cursor: pointer;
  background-color: var(--gray-1);
  border-radius: 0.5rem;
  padding: 1rem 0;
}

.payment label p {
  color: inherit;
}

.payment button[type='submit'] {
  font-size: 1.125rem;
  font-weight: 800;
}

.payment label {
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  width: 80vw;
  max-width: 400px;
  text-align: center;
}

.pay {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.naver,
.apple,
.kakao {
  width: 2.5rem;
}

.paypal {
  width: 3.5rem;
}

.flex {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.flex .options {
  width: 100%;
}

.flex .options label {
  width: 100%;
}

.culture label {
  font-size: 1rem;
}

.flex {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.flex .options {
  width: 100%;
}

.flex .options label {
  width: 100%;
}

.culture label {
  font-size: 1rem;
}
