.category {
    position: relative;
}

.selectWrapper {
    width: 100%;
    height: 3.469rem;
    display: flex;
    align-items: center;
    background-color: var(--background);
    border-radius: 0.5rem;
    z-index: 2;
}

.selectWrapper select:disabled {
    color: var(--primary);
    opacity: 1;
    width: 100%;
    padding: 0;
    padding-left: 0.5rem;
}

.listWrapper {
    position: absolute;
    top: 1rem;
    left: 0;
    width: calc(100% + 0.4rem);
    height: 11.5rem;
    border-radius: 0.5rem;
    background-color: #fff;
    box-shadow: 0px 4px 60px rgb(99 99 99 / 20%);
    z-index: 1;
}

.list {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 7.4rem;
    font-size: 1.1rem;
    overflow: scroll;
}

.list li {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 1rem);
    height: 2.8rem;
    padding-left: 0.7rem;
}

.list li:hover {
    border: 0.2rem var(--background);
    background-color: var(--background);
    border-radius: 0.5rem;
}

.list li.button {
    position: absolute;
    padding-left: 0.5rem;
}

.list li.button:hover {
    border: none;
    background-color: #fff;
}

.list li.button button {
    width: 100%;
    padding: 0.5rem;
}

.list .edit {
    width: 2rem;
    height: 2rem;
    margin-right: 0.3rem;
    border-radius: 0.5rem;
    color: var(--secondary-text);
}

.list .edit:hover {
    background-color: var(--secondary);
}

.overlay {
    position: absolute;
    right: 0.1rem;
    left: 35%;
    top: 1rem;
    height: 11.5rem;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0px 4px 60px rgb(99 99 99 / 20%);
    z-index: 10;
}

.overlay > div {
    padding: 0 1rem;
    margin: 0.8rem 0;
}

.overlay > div > label {
    margin-bottom: 0.2rem;
    font-size: 0.8rem;
    font-weight: 600;
}

.overlay input {
    height: 2.5rem;
    padding: 0 0.5rem;
    font-size: 1rem;
}

.overlay .text {
    display: flex;
    margin-bottom: 0.5rem;
}

.overlay .text input.icon {
    flex-shrink: 0;
    width: 2.5rem;
    margin-right: 0.5rem;
    padding: 0;
    text-align: center;
    border-radius: 50%;
}

.overlay .text input.title {
    width: 100%;
}

.overlay input[type='number'] {
    text-align: right;
}

.overlay .buttons {
    display: flex;
    justify-content: flex-end;
}

.overlay .buttons button {
    padding: 1rem 0.4rem;
}

.overlay .buttons button:last-child {
    flex: 2 1 auto;
}
