.category {
    position: relative;
}

.selectWrapper {
    width: 100%;
    height: calc(100% + 2rem);
    display: flex;
    align-items: center;
    background-color: var(--background);
    border-radius: 0.5rem;
    z-index: 2;
}

.selectWrapper select:disabled {
    color: var(--primary);
    opacity: 1;
    width: 100%;
    padding: 0;
    padding-left: 0.5rem;
}

.listWrapper {
    position: absolute;
    top: 1rem;
    left: 0;
    width: calc(100% + 0.4rem);
    height: 12rem;
    border-radius: 0.5rem;
    background-color: #fff;
    box-shadow: 0px 4px 60px rgb(99 99 99 / 20%);
    z-index: 1;
}

.list {
    width: 100%;
    position: absolute;
    height: 8.2rem;
    bottom: 0;
    overflow: scroll;
    font-size: 1.1rem;
}

.list li {
    width: calc(100% - 1rem);
    display: flex;
    align-items: center;
    height: 3rem;
    padding-left: 0.7rem;
}

.list li:hover {
    border: 0.2rem var(--background);
    background-color: var(--background);
    border-radius: 0.5rem;
}
