.item .info {
    text-align: center;
    color: var(--primary);
}

.item .info p {
    font-size: 0.5rem;
}

.item .info h5 {
    font-size: 1rem;
}

.item .add {
    background-color: var(--background);
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center
}

.item .add::after {
    content: '+';
    font-size: 1.8rem;
    color: var(--secondary);
}

.item .button .info {
    color: var(--secondary-text);
}
