.field {
    position: relative;
    width: 100%;
    text-align: left;
    display: flex;
    gap: var(--size-10);
}

.field label {
    font-weight: 600;
}

.field.floating input {
    padding-top: var(--size-3);
}

.field.floating input + label {
    position: absolute;
    top: var(--size-5);
    left: var(--size-8);
    margin-bottom: 0;
    color: var(--gray-3);
    transition: top 0.3s ease-in-out;
}

.field.floating input:focus + label,
.field.floating input:not([value='']) + label {
    top: var(--size-10);
    font-size: var(--size-8);
}
