.modal-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.open {
  z-index: 100;
}

.open .modal {
  transform: translate(-50%, -50%);
  opacity: 1;
}

.closed .modal {
  transform: translate(-50%, -30%);
  opacity: 0;
}

.open .backdrop {
  transform: translateY(0);
  opacity: 1;
}

.closed .backdrop {
  opacity: 0;
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateY(100%);
  background-color: rgba(0, 0, 0, 0.8);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #fff;
  padding: 2.5rem 2rem;
  width: 75%;
  max-width: 360px;
  border-radius: 1rem;
  box-shadow: 0px 10px 60px rgb(0 0 0 / 50%);
  transition: transform 0.3s var(--fast-in), opacity 0.25s var(--fast-in);
  will-change: trasnfrom, opacity;
}

.msg {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
}

.icon {
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 0.25rem;
}

.icon-padding {
  padding-top: 1.25rem;
}

.description {
  font-size: 1rem;
}

.confirm {
  margin-top: 1.75rem;
  font-size: 1.125rem;
  height: 3.75rem;
}

.action {
  display: block;
  height: 2.5rem;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}

.action-padding {
  padding-bottom: 1.125rem;
}
