.option {
    position: relative;
}

.button {
    width: 100%;
    height: 100%;
    text-align: right;
    font-size: inherit;
    font-weight: 800;
}

.context {
    position: absolute;
    top: 1.65rem;
    right: 0;
    min-width: 10rem;
    text-align: left;
    border-radius: 0.5rem;
    box-shadow: 0px 4px 60px rgba(99, 99, 99, 0.2);
    background-color: #fff;
    padding: 0.5rem;
    z-index: 10;
}

.context li {
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.context li:hover {
    background-color: var(--gray-1);
}

.outside {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
}
