.container {
  overflow: scroll;
  scrollbar-width: none;
}

.container::-webkit-scrollbar {
  display: none;
}

.padding-lg {
  padding: 2.875rem;
}

.padding-md {
  padding: 2rem;
}

.padding-sm {
  padding: 1.125rem;
}

.polyfill {
  width: 100%;
  height: calc(6vh + 3.5rem);
}
