.tab {
  display: flex;
  justify-content: center;
  overflow-x: scroll;
}

.tab li {
  flex-shrink: 0;
}

.tab input {
  display: none;
}

.tab label {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1rem;
  color: var(--gray-2);
  cursor: pointer;
}

.tab input:checked + label {
  color: var(--gray-4);
}

.tab input:checked + label::after {
  content: '';
  display: flex;
  flex-direction: column;
  margin: 0.4rem auto;
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 50%;
  background: var(--gray-4);
}

/* line */
.tab.line label {
  padding-top: 1rem;
}

.tab.line label {
  border-top: 0.1rem solid transparent;
}

.tab.line input:checked + label {
  border-color: var(--primary);
}

.center {
  justify-content: center;
}
