.user-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh;
  margin-bottom: 8vh;
}

.profile {
  width: 8rem;
  height: 8rem;
  background-color: var(--gray-1);
  border-radius: 50%;
  margin-bottom: 2vh;
  overflow: hidden;
}

.profile input {
  cursor: pointer;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  opacity: 0;
}

.primary {
  background-color: var(--primary);
}

.guest {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5vh;
  width: 100%;
  text-align: center;
}

.guest button {
  width: 50%;
}

.edit {
  width: 60%;
  margin-top: 2vh;
}

.info-form h3 {
  text-align: center;
  margin-top: 1vh;
  margin-bottom: 4vh;
}

.fields {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  margin-bottom: 20vh;
}
