.header {
  margin: 1.5rem 0;
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  padding: 2vh 0;
}

.back,
.calendar {
  position: absolute;
  left: 5vw;
}

.option {
  position: absolute;
  right: 5vw;
}

.top button,
.top a {
  padding: 1rem;
  font-size: 1.25rem;
}

.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom a {
  font-size: 0.5rem;
}

.bottom h1 {
  margin: 0 20vw;
}
